{% extends "devex/base.html" %}
{% block content %}
{% load devex %}
<div class="container vh-auto">
    <div class="row h-100">
        <div class="col-6">
            <ul class="list-unstyled"
                        id="get-antenna-main"
                        hx-get="{% url 'devex:get_antenna_main' %}"
                        hx-trigger="every 1s">
                        {% include "devex/get_antenna_main.html" %}
                    </ul>
    </div>
<div class="col-6">
    <h2 class="fw-bold text-center">Antenna Monitor </h2>
    {% comment %} <div class="plot-container">
    <img src="{% url 'devex:plot-view' %}" alt="Polar Plot"> {% endcomment %}
    </div>
    
</div>
{% endblock %}