{% extends "devex/base.html" %}

{% block content %}
{% load static %}

<h1>Device Explorer</h1>

<fieldset>

<div class ="row ">
    <div class = "col-md-auto border">
        <legend><h2 class="fw-bold">Available Managers</h2></legend>
              
            {% for manager in available_managers %}
            <p {% if manager == selected_manager %} class="bg-primary-subtle" {% endif %}>
            <a href="?manager={{ manager }}">{{ manager }} </a>
                
            </p>
            {% endfor %}
    
    </div>
        
    <div class = "col-md-auto border ">
        <h2 class="fw-bold">Selected Manager: </h2>
            <h4 class="fw-bold">{{selected_manager}}</h4>
        
            {% for param, value in selected_manager_params.items %}
            <p>{{ param }}</p>
            {% endfor %}

    </div>

</div>

</fieldset>

{% endblock %}