<div>
    <table class = "table table-sm table-bordered fixed-table">
        <thead>
            <tr>
                <th></th>
                <th>Azimuth</th>
                <th>Elevation</th>
            </tr>
        </thead>
        <tr>
            <td>
                <table>
                    <tr >
                        <td>Indicated:</td>
                    </tr>
                    <tr>
                        <td>Commanded:</td>
                    </tr>
                    <tr>
                        <td>Rate('/min):</td>
                    </tr>
                    {% comment %} <tr>
                        <td>Difference:</td>
                    </tr> {% endcomment %}
                    <tr>
                        <td>Servo Err(\"):</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td class="bg-primary-subtle overflow-hidden">{{azind_value | floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <td class="bg-info-subtle overflow-hidden">{{azcom_value | floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <td class="bg-primary-subtle overflow-hidden">{{azrate_value | floatformat:3 }}</td>
                    </tr>
                    {% comment %} <tr>
                        <td class="bg-info-subtle overflow-hidden">{{ azcom_value | add:"-azind_value" }}</td>
                    </tr> {% endcomment %}
                        <tr>
                        <td class="bg-info-subtle overflow-hidden">{{azerr_value | floatformat:3 }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td class="bg-primary-subtle">{{elind_value | floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <td class="bg-info-subtle">{{elcom_value | floatformat:3 }}</td>
                    </tr>
                    <tr>
                        <td class="bg-primary-subtle">{{elrate_value | floatformat:3 }}</td>
                    </tr>
                    {% comment %} <tr>
                        <td class="bg-info-subtle">{{ eldif | floatformat:3 }}</td>
                    </tr> {% endcomment %}
                    <tr>
                        <td class="bg-info-subtle">{{elerr_value | floatformat:3 }}</td>
                    </tr>
                </table>
            </td>
        </table>
    </div>