 {% comment %} <h1>AstrID Script Executions</h1> {% endcomment %}

        <table class = "table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Project Name</th>
                    <th>Script Name</th>
                    <th>Observer</th>
                    <th>Operator</th>
                    <th>Script State</th>
                    <th>Script Status</th>
                </tr>
            </thead>
            <tbody>
            {% for history in histories %}
            <tr>
                
                <td>
                    <ul class="list-unstyled">
                        <li>{{ history.datetime }}</li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li><a href = "{% url 'devex:history_detail' history.id %}"> {{ history.obsprocedure.obsprojectref.name }}</li>
                       
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>{{ history.obsprocedure.name }} </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>{{ history.obsprocedure.observer }}</li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>{{ history.obsprocedure.operator }}</li>
                       
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>{{ history.obsprocedure.state }}</li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>{{ history.obsprocedure.status }}</li>
                       
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>