{% load devex %}

<div>
    <table class = "table table-sm table-bordered custom-table">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Project:</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="custom-table">
                    <tr>
                        <td style="background-color: #FDB9C8;">{{projectId_value}}</td>
                    </tr>
                </table>
            </td>
        </div>
<div>
    <table class = "table table-sm table-bordered custom-table">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Source:</td>
                    </tr>
                    <tr>
                        <td>Start:</td>
                    </tr>
                    <tr>
                        <td>Countdown:</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="custom-table">
                    <tr>
                        <td class="bg-danger-subtle">{{source_value}}</td>
                    </tr>

                    <tr>
                        <td style="background-color: #FDB9C8;">{{start_value | seconds_to_hours }}</td>
                    </tr>
                    <tr>
                        <td> ---</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="custom-table">
                    <tr>
                        <td>Scan #:</td>
                    </tr>
                    <tr>
                        <td>SS Master:</td>
                    </tr>
                    <tr>
                        <td>Length:</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="custom-table">
                    <tr>
                        <td class="bg-danger-subtle">{{scan_value}}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #FDB9C8;">{{ssmaster_value}}</td>
                    </tr>
                    <tr>
                        <td class="bg-danger-subtle">{{length_value}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

        <div>
            <table class = "table table-sm table-bordered custom-table">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Remaining:</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="custom-table">
                            <tr>
                                <td style="background-color: #FDB9C8;">{{remain_value | seconds_to_hours }}</td>
                            </tr>
                        </table>
                    </td>
    {% comment %} <table class = "table table-sm table-bordered custom-table">
        <tr>
            <td>
                <table class="custom-table">
                    <tr>
                        <td>Observer:</td>
                    </tr>
                    <tr>
                        <td>Obs.Type:</td>
                    </tr>
                    <tr>
                        <td>Proc Name:</td>
                    </tr>

                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Operator:</td>
                    </tr>
                    <tr>
                        <td>Switching:</td>
                    </tr>
                    <tr>
                        <td>Sequence:</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td> astrid info</td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table> {% endcomment %}
</div> 
<div>
    <table class = "table table-sm table-bordered custom-table">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Rest Freq:</td>
                    </tr>
                    <tr>
                        <td>Frame:</td>
                    </tr>

                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td class=" bg-danger-subtle">{{restFreq_value}}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #FDB9C8;">{{restFrame_value}}</td>
                    </tr>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Velocity:</td>
                    </tr>
                    <tr>
                        <td>Vel Def:</td>
                    </tr>

                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td class="bg-danger-subtle">{{velocity_value}}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #FDB9C8;">{{veldef_value}}</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>