{% extends "devex/base.html" %}
{% block content %}
    {% load static %}
    <h1 class="text-center">Consolidated Hub for GBO Information and Parameters (CHIP)</h1>
    <h5 class="text-center">
        For additional details about the sources of information on CHIP Web or how to navigate it, please visit:
        <a class="btn btn-success" href="{% url 'devex:help' %}" role="button">Info</a>
    </h5>
    <img src="{% static "chip.jpg" %}"  width="70" height="170"class="center">
    <ul class = "wrapper list-unstyled">
        <li class="p-3">
            <a class="btn btn-success" href="{% url 'devex:devex' %}" role="button">Device Explorer</a>
        </li>
        <li class="p-3">
            <a class="btn btn-success" href="{% url 'devex:status' %}" role="button">Status Screen</a>
        </li>
        <li class="p-3">
            <a class="btn btn-success" href="{% url 'devex:script' %}" role="button">AstrID Script Info</a>
        </li>
        <li class="p-3">
            <a class="btn btn-success"
               href="{% url 'devex:antenna' %}"
               role="button">Antenna Monitor</a>
        </li>
        <li class="p-3">
            <a class="btn btn-success"
               href="{% url 'devex:messages' %}"
               role="button">CLEO Messages</a>
        </li>
    </ul>
{% endblock %}
