{% extends "devex/base.html" %}
{% block content %}
    {% load devex %}
    {% comment %} <h1>Status Screen</h1> {% endcomment %}
    <fieldset class="h-100">
        <!-- scancoordinator device -->
        <div class="container vh-auto">
            <div class="row h-100 ">
                <div class="col-4">
                    <h2 button type="button" class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="right" title="State and Status of selected device">
                System Selection</h2>
                    <table class = "table table-bordered fixed-table">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Status</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <ul class="list-unstyled"
                                    id="get-device"
                                    hx-get="{% url 'devex:get_device' manager %}"
                                    hx-trigger="every 1s">
                                    {% include "devex/get_device.html" %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled"
                                    id="get-status"
                                    hx-get="{% url 'devex:get_status' manager %}"
                                    hx-trigger="every 1s">
                                    {% include "devex/get_status.html" %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled"
                                    id="get-state"
                                    hx-get="{% url 'devex:get_state' manager %}"
                                    hx-trigger="every 1s">
                                    {% include "devex/get_state.html" %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <h2 class="fw-bold">Project Info</h2>
                    <ul class="list-unstyled"
                        id="get-project"
                        hx-get="{% url 'devex:get_project' %}"
                        hx-trigger="every 5s">
                        {% include "devex/get_project.html" %}
                    </ul>
                </div>
                <div class="col-4">
                    <h2 button type="button" class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to go to Antenna Monitor Main Page">
                        <a href="{% url 'devex:antenna' %}">Antenna Info</a></h2>
                    <ul class="list-unstyled"
                        id="get-antenna"
                        hx-get="{% url 'devex:get_antenna' %}"
                        hx-trigger="every 1s">
                        {% include "devex/get_antenna.html" %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-5">
                        <h2 button type="button" class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to go to GBT Monitoring (Grafana) ">
                            <a href="http://grafana.gb.nrao.edu">Weather</a></h2>
                    <iframe src="http://grafana.gb.nrao.edu/d-solo/MrbJCMIGz/weather?orgId=1&from=1722692863114&to=1722865663114&theme=light&panelId=3" 
                        width="450" 
                        height="200" 
                        frameborder="0"></iframe>
                    </div>
                    <div class="col-7">
                        <h2 button type="button" class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to go to AstrID Script Executions Main Page">
                            <a href="{% url 'devex:script' %}">Recent History Log</a></h2>
                        <ul class="list-unstyled"
                                id="get-messages-main"
                                hx-get="{% url 'devex:get_script_status' %}"
                                hx-trigger="every 5s">
                                {% include "devex/get_script_status.html" %}
                            </ul>
                        </div>
                        
                        <div class="row">
                            <h2 button type="button" class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to go to CLEO Messages Main Page">
                                <a href="{% url 'devex:messages' %}">CLEO Messages</a></h2>
                            <ul class="list-unstyled"
                                id="get-messages-main"
                                hx-get="{% url 'devex:get_messages_main' %}"
                                hx-trigger="every 3s">
                                {% include "devex/get_messages_main.html" %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}
