{% extends "devex/base.html" %}
{% block content %}
    {% load devex %}
    {% comment %} <h1>Status Screen</h1> {% endcomment %}
    <fieldset class="h-100">
        <!-- scancoordinator device -->
        <div class="container vh-auto">
            <div class="row h-100 ">
                <div class="col-4">
                    <h2 class="fw-bold">System Selection</h2>
                    <table class = "table table-bordered fixed-table">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Status</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <ul class="list-unstyled"
                                    id="get-device"
                                    hx-get="{% url 'devex:get_device' manager %}"
                                    hx-trigger="every 1s">
                                    {% include "devex/get_device.html" %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled"
                                    id="get-status"
                                    hx-get="{% url 'devex:get_status' manager %}"
                                    hx-trigger="every 1s">
                                    {% include "devex/get_status.html" %}
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled"
                                    id="get-state"
                                    hx-get="{% url 'devex:get_state' manager %}"
                                    hx-trigger="every 1s">
                                    {% include "devex/get_state.html" %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <h2 class="fw-bold">Project Info</h2>
                    <ul class="list-unstyled"
                        id="get-project"
                        hx-get="{% url 'devex:get_project' %}"
                        hx-trigger="every 5s">
                        {% include "devex/get_project.html" %}
                    </ul>
                </div>
                <div class="col-4">
                    <h2 class="fw-bold">Antenna Info</h2>
                    <ul class="list-unstyled"
                        id="get-antenna"
                        hx-get="{% url 'devex:get_antenna' %}"
                        hx-trigger="every 1s">
                        {% include "devex/get_antenna.html" %}
                    </ul>
                </div>
                <div class="row">
                    <h2 class=" fw-bold">Weather*</h2>
                    <div class="col-4">
                        <iframe src="http://grafana.gb.nrao.edu/d-solo/MrbJCMIGz/weather?orgId=1&from=1720646125684&to=1720818925684&theme=light&panelId=3"
                                width="425"
                                height="175"
                                frameborder="0"></iframe>
                    </div>
                    <div class="col-4">
                        <h2 class="fw-bold">Recent History Log</h2>
                        <div class = "overflow-x-scroll">
                            <table class = "table table-sm table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Project Name</th>
                                        <th>Script Name</th>
                                        <th>Observer</th>
                                        <th>Operator</th>
                                        <th>Script State</th>
                                        <th>Script Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {% comment %} <ul class="list-unstyled">
                                                    <li>{{ history.datetime }}</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href = "{% url 'devex:history_detailstatus' history.id %}"> {{ history.obsprocedure.obsprojectref.name }}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li>{{ history.obsprocedure.name }}</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li>{{ history.obsprocedure.observer }}</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li>{{ history.obsprocedure.operator }}</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li>{{ history.obsprocedure.state }}</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        <li>{{ history.obsprocedure.status }}</li>
                                                    </ul>
                                            </td> {% endcomment %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-4">some important info?</div>
                        <div class="row">
                            <h2 class="fw-bold">CLEO Messages</h2>
                            <ul class="list-unstyled"
                                id="get-messages-main"
                                hx-get="{% url 'devex:get_messages_main' %}"
                                hx-trigger="every 3s">
                                {% include "devex/get_messages_main.html" %}
                            </ul>
                        </div>
                    </div>
                    <p>
                        <a href="http://grafana.gb.nrao.edu">*Grafana</a>
                    </p>
                {% endblock %}
